﻿@model CourseWork.Models.DutyOfEngineerViewModel
@{
    ViewData["Title"] = "DutyOfEngineerViewModel";
}

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true" xmlns="http://www.w3.org/1999/html">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Добавить дежурство инженера</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      @using(Html.BeginForm("CreateDutyRecord","DutiesOfEngineer"))
      {
      <div class="modal-body">
          <input type="text" name="EngineerId" />
          <input type="text" name="ClassCipher" />
          <input type="text" name="DutyDate" />
          <input type="text" name="NumberOfFaults" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
      }
    </div>
  </div>
</div>

<div class="add-duty-button" data-toggle="modal" data-target="#exampleModalLong">
  <button type="button" class="btn btn-light">+ Add</button>
</div>

<div class="dutyTable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@@mdo</td>
        <td><button type="button" class="btn btn-outline-success">Success</button></td>
        <td><button type="button" class="btn btn-outline-danger">Danger</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@@fat</td>
        <td><button type="button" class="btn btn-outline-success">Success</button></td>
        <td><button type="button" class="btn btn-outline-danger">Danger</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@@twitter</td>
        <td><button type="button" class="btn btn-outline-success">Success</button></td>
        <td><button type="button" class="btn btn-outline-danger">Danger</button></td>
      </tr>
    </tbody>
  </table>
</div>